<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>fr.m2i.javawebapp.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>fr.m2i.javawebapp.SecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowIPAddressServlet</servlet-name>
        <servlet-class>fr.m2i.javawebapp.ShowIPAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <servlet-class>fr.m2i.javawebapp.ShowRequestHeaders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvenNumbers</servlet-name>
        <servlet-class>fr.m2i.javawebapp.EvenNumbers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountWordsServlet</servlet-name>
        <servlet-class>fr.m2i.javawebapp.CountWordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimNumberServlet</servlet-name>
        <servlet-class>fr.m2i.javawebapp.PrimNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimNumberServletF</servlet-name>
        <servlet-class>fr.m2i.javawebapp.PrimNumberServletF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimeNumberListServlet</servlet-name>
        <servlet-class>fr.m2i.javawebapp.PrimeNumberListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreditDistributeur</servlet-name>
        <servlet-class>fr.m2i.javawebapp.CreditDistributeur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistributeurServlet</servlet-name>
        <servlet-class>fr.m2i.javawebapp.DistributeurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistributorServletS</servlet-name>
        <servlet-class>fr.m2i.javawebapp.DistributorServletS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistributorServletErr</servlet-name>
        <servlet-class>fr.m2i.javawebapp.DistributorServletErr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowIPAddressServlet</servlet-name>
        <url-pattern>/ShowIPAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <url-pattern>/ShowRequestHeaders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvenNumbers</servlet-name>
        <url-pattern>/EvenNumbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountWordsServlet</servlet-name>
        <url-pattern>/CountWordsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimNumberServlet</servlet-name>
        <url-pattern>/PrimNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimNumberServletF</servlet-name>
        <url-pattern>/PrimNumberServletF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimeNumberListServlet</servlet-name>
        <url-pattern>/PrimeNumberListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreditDistributeur</servlet-name>
        <url-pattern>/CreditDistributeur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributeurServlet</servlet-name>
        <url-pattern>/DistributeurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributorServletS</servlet-name>
        <url-pattern>/DistributorServletS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributorServletErr</servlet-name>
        <url-pattern>/DistributorServletErr</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
